<ion-pane class="cd-bgGray">
    <ion-header-bar class="bar-cd">
        <button class="button button-clear button-white iconfont icon-fanhui" ui-sref="tab.setting"></button>
        <div class="title">关于我们</div>
    </ion-header-bar>
    <ion-content class="padding about">
        <div class=" cd-bgWhite">

           <img src="images/aboutus.jpg" style="width:100%">

            <div class="list">
                <label class="item">
                    官方网站
                      <span class="item-note">
                        http://www.dyyswl.com
                      </span>
                </label>

                <label class="item">
                    联系电话
                      <span class="item-note">
                         <a  href="tel:07145392641" >0714-5392641</a>
                      </span>
                </label>

                <label class="item">
                    公司地址
                      <span class="item-note">
                        大冶市城西北工业园开园大道69号
                      </span>
                </label>

            </div>
        </div>
    </ion-content>
</ion-pane>