<ion-pane class="cd-bgGray">
    <ion-header-bar class="bar-cd">
        <!--<button class="button button-clear button-white iconfont icon-fanhui" ng-click="myGoBack()"></button>-->
<div class="title">大冶有色物流LRP</div>
<button class="button button-clear button-white iconfont icon-shouyeshouye" ui-sref="tab.home"></button>
</ion-header-bar>
<ion-content  class="scroll-content ionic-scroll  has-header">
    <div class="offline">
        网络连接异常，请检查您的手机是否联网<br>
        点击<em ng-click="checkNetwork()">屏幕刷新</em>
    </div>
</ion-content>
</ion-pane>