<ion-tabs class="tabs-icon-top tabs-color-active-assertive cd-tabs">
    <ion-tab title="任务" class="iconfont" icon-on="icon-daikuan" icon-off="icon-daikuan" ui-sref="tab.home">
        <ion-nav-view animation="slide-left-right" name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="订单跟踪" class="iconfont" icon-on="icon-xiaoxi" icon-off="icon-xiaoxi" ui-sref="tab.tracking">
        <ion-nav-view animation="slide-left-right" name="tab-tracking"></ion-nav-view>
    </ion-tab>
    <ion-tab title="设置" class="iconfont" icon-on="icon-shezhi" icon-off="icon-shezhi" ui-sref="tab.setting">
        <ion-nav-view animation="slide-left-right" name="tab-setting"></ion-nav-view>
    </ion-tab>
</ion-tabs>
